/** 
 * @file
 *
 * Subtheme specific CSS. Jenkins push 2
 */
 #block-mainnavigation-2 ul#superfish-main {width: 72em; }
 #block-mainnavigation-2 ul#superfish-main > li { width: 14em; }
 #block-mainnavigation-2 ul#superfish-main > li,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul li {
     background-color: #fff;
    }
    #block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent{ height: 4em; }
    .node--type-interagency-group #block-initiatives-boot4-content h3 {font-size: 1.3em; margin-top: 0.7em;}
    .node--type-interagency-group #block-initiatives-boot4-content .field--name-field-other-partnerships-specify {margin-top: -1em;}
    .node--type-interagency-group a[href="/taxonomy/term/404"] {display: none;}
    label[for="partnerships-General-education-staff-including-guidance-counselors"] {width: 75%;}
    .view-search-content ul li {font-size: 1.2em; padding: .4em 0;}
    @media only screen and (min-width: 768px) {

        .navbar-collapse.collapse {
          display: block !important;
        }
    .collapse:not(.show) {

        display: block;
    
    }
}
#superfish-main ul {background-color: #fff; }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #superfish-main > li:nth-child(1) > a {color:white; background-color:#A5D48F;}
    #superfish-main > li:nth-child(2) > a {color:white; background-color:#D26716;}
    #superfish-main > li:nth-child(3) > a {color:white; background-color:#8665AB;}
    #superfish-main > li:nth-child(4) > a {color:white; background-color:#00A6A5;}
    #superfish-main > li:nth-child(4) > a:hover {color: white;}
    #superfish-main > li:nth-child(5) > a {background-color: #3976B8; color:white;}
    .lilright {padding-left:3em;}
    #superfish-main > li {min-width: 180px; border:2px solid white;}
  
    h1#siteTitle {width: 60%; float: left; margin-top: 20px; margin-bottom: 15px;}
    h3.site-name-slogan {margin-bottom: 40px;}
  }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        #superfish-main > li {min-width: 180px; border:2px solid white;}
      
    }
    #superfish-main > li  > a {text-transform: uppercase; }

   #block-schooldistricts .distNote { font-size: 85%; font-style: italic; }
   label[for="partnerships-General-education-staff-including-guidance-counselors"],label[for="partners-General-education-staff-including-guidance-counselors"] { display: block; padding-left: 22px; margin-top: -24px;}
   header a.navbar-brand { margin-top: 18px; width: 575px;}
   #header #navbar-main {background-color: #fff;}
   .red {
	background-color: #b22d27
}
.redf {
	color: #b22d27
}
.blue {
	background-color: #00b4e6
}
.bluef {
	color: #00b4e6
}
.green {
	background-color: #5d9732
}
.greenf {
	color: #5d9732
}
.dkblue {
	background-color: #256496
}
.dkbluef {
	color: #256496
}
.bg-dark {
	background-color: #333!important;
}
.bg-darkf {
	color: #333!important;
}
@media only screen and (min-width: 990px) {
	#block-navigation nav li {
		width: calc(100% / 4);
	}
}
#block-navigation nav li {
	font-size: 18px;
	font-weight: 700;
	padding-right: 5px;
}
#block-navigation nav li a:hover {
	color: #fff;
	opacity: 1
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1.0);
}

.dropdown-toggle::after {
       border-top: .6em solid;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
}
/*-------Footer--------*/
#footer {


}
.footer-copyright {
	background-color: #0073AE;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.footer-copyright a {
	color: #ffffff;
	font-weight: 700
}


.footer-partners {
	font-size: 12px;
	line-height: 14px;
	  padding: 20px 0 0;
	      border: 15px #0073AE solid;
}
#page-wrapper .site-footer {background-color: #0077af;}
.site-footer .footer-partners {background-color: #fff;}
.site-footer .content .small {color: #333;margin-left: 25px;}
#page .site-footer { padding-top: 0;}
#sidebar_first aside.section .block { background-color: #fff; border: 1px solid #256496;}
#sidebar_first input.facets-checkbox {
	margin-right:5px;
}

#sidebar_first .facets-widget-checkbox ul {
	list-style-type:none;
}
.contextual-region.block-facet--checkbox .facet-item label {

    padding-left: 10px;
    margin-top: -24px;

}
.contextual-region.block-facet--checkbox .facet-item label[for="at_activities-63"],.contextual-region.block-facet--checkbox .facet-item label[for="focus_areas-75"] {padding-left: 22px;}

    